# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
.sass-cache
assets/vendor/*
assets/fonts/*
assets/css/*
assets/js/*scripts*.js
assets/js/plugins/*
assets/js/vendor/modernizr.min.js
assets/manifest.json
