@import "variables";

#mobile-navigation {
	position: $mobile-nav-position;
	left: $mobile-nav-position-left;
	right: $mobile-nav-position-right;
	top: $mobile-nav-position-top;
	bottom: $mobile-nav-position-bottom;
	min-height: 100%;
	z-index: 1000;

}
.mlpm_w{
  > .levelHolderClass{
    border-left: 1px solid #ccc;
    right: -1px!important;
    @include to(lp){
      overflow-y: auto !important;
      height: 90vh; 
      .levelHolderClass{
        overflow-y: auto !important;
        height: 90vh;
      }
    }
  }
}
.levelHolderClass ul {
  -webkit-overflow-scrolling: touch;
}

#nav-open{
	position: $mobile-nav-open-position;
	right:$mobile-nav-open-position-right;
	top:$mobile-nav-open-position-top;
	
	@extend %menu;
	@extend %icon;
}





.mlpm_w {
	position: absolute;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}



.mlpm_w .levelHolderClass {
	position: absolute;
	overflow: hidden;
	top: 0;
	background: $nav-background-color;
	width: auto;
	min-height: 100%;
	font-family: $mobile-nav-font;
	font-size: $mobile-nav-font-size;
	zoom: 1;
	@include transition(background-color .125s ease-in);
	form{
  	background-color: darken($darkBlue, 3%);
	}
	h2{
	  background-color: darken($darkBlue, 3%);
	  color: #FFF;
	  height: 30px;
	  padding-bottom: 15px;
	  padding-top: 15px;
	  height: 77px;
	  margin: 0;
	  border-bottom: 1px solid darken($darkBlue, 8%);
  	i{
    	font-size: 30px;
    	margin-left: 15px;
  	}
  	span{
    	@include inline-block;
    	margin-right: 15px;
    	margin-top: 10px;
    	cursor: pointer;
  	}
	}
  .levelHolderClass{
    h2{
      padding-top: 32px;
      padding-left: 15px;
      text-align: left !important;
    }
  }
}


.mlpm_w .ltr {
	margin-left: -100%;
	left: 0;
	-moz-box-shadow: 5px 0 5px -5px $nav-shadow-color;
	-webkit-box-shadow: 5px 0 5px -5px $nav-shadow-color;
	box-shadow: 5px 0 5px -5px $nav-shadow-color;

}

.mlpm_w .rtl {
	margin-right: -100%;
	right: 0;
	-moz-box-shadow: 5px 0 5px 5px $nav-shadow-color;
	-webkit-box-shadow: 5px 0 5px 5px $nav-shadow-color;
	box-shadow: 5px 0 5px 5px $nav-shadow-color;

}

.mlpm_w .mlpm_inactive {
	background: $nav-inactive-color;
}

.mlpm_w h2 {
	font-size: $base-font-size;
	line-height: 1em;
	font-weight: bold;
	text-transform: uppercase;
	color: $nav-header-color;
	padding: 0 $mobile-nav-spacing 0 $mobile-nav-spacing;
}

.mlpm_w ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.mlpm_w li {
	cursor: pointer;
	border-bottom: 1px solid $nav-border-color;
	text-align: left !important;
}

.mlpm_w li:first-child {
	border-top: 1px solid $nav-border-color;
}

.mlpm_w li a:hover {
	background-color: $nav-header-color;
	color: #FFF;
}

.mlpm_w a {
	display: block;
	outline: none;
	overflow: hidden;
	font-size: $mobile-nav-link-font-size;
	line-height: 1em;
	padding: ($mobile-nav-spacing/2);
	text-decoration: none;
	color: $mobile-nav-link-color;
	
	&:hover{
		text-decoration: none;		
	}
}

.mlpm_w a:hover {
}

.mlpm_w .backItemClass {
	display: block;
	padding: $mobile-nav-spacing;
	background: $nav-background-color;
	border-top: 1px solid $nav-shadow-color;
	a{
  	&:hover{
    	color: #FFF;
  	}
	}
}

.mlpm_w .floatRight {
	float: right;
}

.mlpm_w .floatLeft {
	float: left;
}

.mlpm_w .cursorPointer {
	cursor: pointer;
}

.mlpm_w .iconSpacing_ltr {
	padding: 0 $mobile-nav-spacing 0 0;
}

.mlpm_w .iconSpacing_rtl {
	padding: 0 0 0 $mobile-nav-spacing;
}