$black: #000000;
$lightGrey:#cccccc;
$darkGrey:#999999;

$red:#cc0000;

$lightBlue: #d1f0ff;
$blue: #66ccff;
$darkBlue:#336699;

$green: #70ed00;
$darkGreen: darken($green, 20%);

$bodyCopy: #060a19;

$pink: #ed008c;

$yellow:#fff620;