$black: #000000;
$lightGrey:#cccccc;
$darkGrey:#999999;

$red:#cc0000;

$lightBlue: #a1afc6;
$blue: #0e478a;

$green: #70ed00;
$darkGreen: darken($green, 20%);

$bodyCopy: #060a19;

$pink: #ed008c;

$yellow:#fff620;